@model SimpleBlog.Areas.Admin.ViewModels.PostsForm

<h1>@(Model.IsNew ? "Create Post" : "Update Post")</h1>

<!-- POST to Form, controller Posts-->
@using (Html.BeginForm("Form", "Posts"))
{
    if (!Model.IsNew)
    {
        <!-- Post form action to update  -->
        @Html.HiddenFor(f => f.PostId)
    }
    
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-8">
            @Html.ValidationSummary()

            <div class="form-group">
                @Html.LabelFor(f => f.Title)
                @Html.TextBoxFor(f => f.Title, new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(f => f.Slug)
                @Html.TextBoxFor(f => f.Slug, new { @class = "form-control", data_slug="#Title"})
                <!-- C# transform underscore to dash for html5 data attr.... we point to #Title which is geenreated id for the above title -->
            </div>
            <div class="form-group">
                @Html.LabelFor(f => f.Content)
                @Html.TextAreaFor(f => f.Content, new { @class = "form-control" }) <!-- CK Editor sit in there => Replace(Content) ....see below -->
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">Post Actions</div>
                <div class="panel-body">
                    <input type="submit" value="@(Model.IsNew ? "Publish POst" : "Update Post")" class="btn btn-success btn-sm"/>
                    <a href="@Url.Action("Index")"> or Cancel</a>
                </div>
            </div>

            <div class="panel panel-info">
                <div class="panel-heading">Tags</div>
                <div class="panel-body post-tag-editor">
                    <label for="new-tag-name">New Tag:</label>
                    <div class="input-group">
                        <input id="new-tag-name" type="text" class="new-tag-name form-control"/>
                        <span class="input-group-btn">
                            <button disabled class="btn btn-primary add-tag-button">Add</button>
                        </span>
                    </div>

                    <ul class="tag-select">
                        <!-- use this below li as template to clone-->
                        <li class="template">
                            <a href="#" class="name"></a>
                            <input type="hidden" class="name-input"/>
                            <input type="hidden" class="selected-input"/>
                        </li>

                        @for (var i = 0; i < Model.Tags.Count; i++)
                        {
                            var tag = Model.Tags[i];

                            <!-- data-tag-id="AROBAStag.Id" giveus a way to get the element -->
                            <li data-tag-id="@tag.Id" class="@(tag.IsChecked ? "selected" : "") ">
                                <a href="#">@tag.Name</a>

                                <input type="hidden" name="Tags[@i].Id" value="@tag.Id"/> 
                                <input type="hidden" name="Tags[@i].Name" value="@tag.Name"/>
                                <!-- this for JS used to link to element class="selected-input" -->
                                <input type="hidden" name="Tags[@i].IsChecked" value="@tag.IsChecked.ToString()" class="selected-input"/>
                            </li>
                        }
                    </ul>


                </div>
            </div>


        </div>
    </div>
    
}

@section Scripts
{
    <script src="~/Scripts/ckeditor/ckeditor.js"></script>

    <!-- So CKeditor call/load its needed files itself-->
    <script>
        CKEDITOR.replace("Content");
    </script>
}
