@model SimpleBlog.Areas.Admin.ViewModels.PostsForm

<h1>@(Model.IsNew ? "Create Post" : "Update Post")</h1>

<!-- POST to Form, controller Posts-->
@using (Html.BeginForm("Form", "Posts"))
{
    if (!Model.IsNew)
    {
        <!-- Post form action to update  -->
        @Html.HiddenFor(f => f.PostId)
    }
    
    @Html.AntiForgeryToken()

    <div class="row">
        <div class="col-lg-8">
            @Html.ValidationSummary()

            <div class="form-group">
                @Html.LabelFor(f => f.Title)
                @Html.TextBoxFor(f => f.Title, new {@class = "form-control"})
            </div>
            <div class="form-group">
                @Html.LabelFor(f => f.Slug)
                @Html.TextBoxFor(f => f.Slug, new { @class = "form-control", data_slug="#Title"})
                <!-- C# transform underscore to dash for html5 data attr.... we point to #Title which is geenreated id for the above title -->
            </div>
            <div class="form-group">
                @Html.LabelFor(f => f.Content)
                @Html.TextAreaFor(f => f.Content, new { @class = "form-control" })
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">Post Actions</div>
                <div class="panel-body">
                    <input type="submit" value="@(Model.IsNew ? "Publish POst" : "Update Post")" class="btn btn-success btn-sm"/>
                    <a href="@Url.Action("Index")"> or Cancel</a>
                </div>
            </div>
        </div>
    </div>
    
}
